<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jungle.wemall.db.dao.GoodsMapper">
  <resultMap id="BaseResultMap" type="com.jungle.wemall.db.pojo.Goods">
    <constructor>
      <idArg column="goods_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="shop_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="category_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="title" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="describle" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="cover" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="origin_price" javaType="java.lang.Long" jdbcType="DECIMAL" />
      <arg column="sell_price" javaType="java.lang.Long" jdbcType="DECIMAL" />
      <arg column="discount" javaType="java.lang.Long" jdbcType="DECIMAL" />
      <arg column="return_cash" javaType="java.lang.Long" jdbcType="DECIMAL" />
      <arg column="liked" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="limit_num" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="options" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="total_sales" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="month_sales" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="praise_rate" javaType="java.lang.Float" jdbcType="REAL" />
      <arg column="status" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="create_time" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="update_time" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    goods_id, shop_id, category_id, title, describle, cover, origin_price, sell_price, 
    discount, return_cash, liked, limit_num, options, total_sales, month_sales, praise_rate, 
    status, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from goods
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </select>
  <!--自定义-->
  <select id="listGoods" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from goods limit #{page} , #{pageSize}
  </select>
  <select id="getAllGoodsCount" resultType="java.lang.Integer">
    select count(*) from goods
  </select>
  <select id="selectByCategoryId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from goods where category_id = #{category_id, jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from goods
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jungle.wemall.db.pojo.Goods">
    insert into goods (goods_id, shop_id, category_id, 
      title, describle, cover, 
      origin_price, sell_price, discount, 
      return_cash, liked, limit_num, 
      options, total_sales, month_sales, 
      praise_rate, status, create_time, 
      update_time)
    values (#{goodsId,jdbcType=INTEGER}, #{shopId,jdbcType=INTEGER}, #{categoryId,jdbcType=INTEGER}, 
      #{title,jdbcType=VARCHAR}, #{describle,jdbcType=VARCHAR}, #{cover,jdbcType=VARCHAR}, 
      #{originPrice,jdbcType=DECIMAL}, #{sellPrice,jdbcType=DECIMAL}, #{discount,jdbcType=DECIMAL}, 
      #{returnCash,jdbcType=DECIMAL}, #{liked,jdbcType=INTEGER}, #{limitNum,jdbcType=INTEGER}, 
      #{options,jdbcType=VARCHAR}, #{totalSales,jdbcType=INTEGER}, #{monthSales,jdbcType=INTEGER}, 
      #{praiseRate,jdbcType=REAL}, #{status,jdbcType=TINYINT}, #{createTime,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.jungle.wemall.db.pojo.Goods">
    insert into goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="shopId != null">
        shop_id,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="describle != null">
        describle,
      </if>
      <if test="cover != null">
        cover,
      </if>
      <if test="originPrice != null">
        origin_price,
      </if>
      <if test="sellPrice != null">
        sell_price,
      </if>
      <if test="discount != null">
        discount,
      </if>
      <if test="returnCash != null">
        return_cash,
      </if>
      <if test="liked != null">
        liked,
      </if>
      <if test="limitNum != null">
        limit_num,
      </if>
      <if test="options != null">
        options,
      </if>
      <if test="totalSales != null">
        total_sales,
      </if>
      <if test="monthSales != null">
        month_sales,
      </if>
      <if test="praiseRate != null">
        praise_rate,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="shopId != null">
        #{shopId,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="describle != null">
        #{describle,jdbcType=VARCHAR},
      </if>
      <if test="cover != null">
        #{cover,jdbcType=VARCHAR},
      </if>
      <if test="originPrice != null">
        #{originPrice,jdbcType=DECIMAL},
      </if>
      <if test="sellPrice != null">
        #{sellPrice,jdbcType=DECIMAL},
      </if>
      <if test="discount != null">
        #{discount,jdbcType=DECIMAL},
      </if>
      <if test="returnCash != null">
        #{returnCash,jdbcType=DECIMAL},
      </if>
      <if test="liked != null">
        #{liked,jdbcType=INTEGER},
      </if>
      <if test="limitNum != null">
        #{limitNum,jdbcType=INTEGER},
      </if>
      <if test="options != null">
        #{options,jdbcType=VARCHAR},
      </if>
      <if test="totalSales != null">
        #{totalSales,jdbcType=INTEGER},
      </if>
      <if test="monthSales != null">
        #{monthSales,jdbcType=INTEGER},
      </if>
      <if test="praiseRate != null">
        #{praiseRate,jdbcType=REAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jungle.wemall.db.pojo.Goods">
    update goods
    <set>
      <if test="shopId != null">
        shop_id = #{shopId,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="describle != null">
        describle = #{describle,jdbcType=VARCHAR},
      </if>
      <if test="cover != null">
        cover = #{cover,jdbcType=VARCHAR},
      </if>
      <if test="originPrice != null">
        origin_price = #{originPrice,jdbcType=DECIMAL},
      </if>
      <if test="sellPrice != null">
        sell_price = #{sellPrice,jdbcType=DECIMAL},
      </if>
      <if test="discount != null">
        discount = #{discount,jdbcType=DECIMAL},
      </if>
      <if test="returnCash != null">
        return_cash = #{returnCash,jdbcType=DECIMAL},
      </if>
      <if test="liked != null">
        liked = #{liked,jdbcType=INTEGER},
      </if>
      <if test="limitNum != null">
        limit_num = #{limitNum,jdbcType=INTEGER},
      </if>
      <if test="options != null">
        options = #{options,jdbcType=VARCHAR},
      </if>
      <if test="totalSales != null">
        total_sales = #{totalSales,jdbcType=INTEGER},
      </if>
      <if test="monthSales != null">
        month_sales = #{monthSales,jdbcType=INTEGER},
      </if>
      <if test="praiseRate != null">
        praise_rate = #{praiseRate,jdbcType=REAL},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=INTEGER},
      </if>
    </set>
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jungle.wemall.db.pojo.Goods">
    update goods
    set shop_id = #{shopId,jdbcType=INTEGER},
      category_id = #{categoryId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      describle = #{describle,jdbcType=VARCHAR},
      cover = #{cover,jdbcType=VARCHAR},
      origin_price = #{originPrice,jdbcType=DECIMAL},
      sell_price = #{sellPrice,jdbcType=DECIMAL},
      discount = #{discount,jdbcType=DECIMAL},
      return_cash = #{returnCash,jdbcType=DECIMAL},
      liked = #{liked,jdbcType=INTEGER},
      limit_num = #{limitNum,jdbcType=INTEGER},
      options = #{options,jdbcType=VARCHAR},
      total_sales = #{totalSales,jdbcType=INTEGER},
      month_sales = #{monthSales,jdbcType=INTEGER},
      praise_rate = #{praiseRate,jdbcType=REAL},
      status = #{status,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=INTEGER}
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </update>
</mapper>