<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jungle.wemall.db.dao.CategoryMapper">
  <resultMap id="BaseResultMap" type="com.jungle.wemall.db.pojo.Category">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="shop_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="cover" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="describle" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="status" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="create_time" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <!--自定义-->
  <resultMap type="com.jungle.wemall.db.pojo.Category" id="resultListCategory">
    <result property="id" column="id" />
    <result property="shopId" column="shop_id" />
    <result property="name" column="name" javaType="string" jdbcType="VARCHAR"/>
    <result property="cover" column="cover" />
    <result property="describle" column="describle" />
    <result property="status" column="status" />
    <result property="createTime" column="create_rime" />
    <collection property="listChildCategory" javaType="List" ofType="com.jungle.wemall.db.pojo.ChildCategory">
      <result property="id" column="id" javaType="int" jdbcType="INTEGER"/>
      <result property="type" column="type" javaType="java.lang.Byte" jdbcType="TINYINT"/>
      <result property="childName" column="child_name" javaType="string" jdbcType="VARCHAR"/>
      <result property="childCover" column="child_cover" />
      <result property="parentId" column="parent_id" />
      <result property="childDescrible" column="child_describle" />
      <result property="childStatus" column="child_status" />
      <result property="createTime" column="create_rime" />
    </collection>
  </resultMap>
  <select id="listCategory" resultMap="resultListCategory">
    select
    a.*, b.*
    from category a, child_category b where  a.id = b.id
  </select>

  <sql id="Base_Column_List">
    id, shop_id, name, cover, describle, status, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from category
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from category
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jungle.wemall.db.pojo.Category">
    insert into category (id, shop_id, name, 
      cover, describle, status, 
      create_time)
    values (#{id,jdbcType=INTEGER}, #{shopId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{cover,jdbcType=VARCHAR}, #{describle,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, 
      #{createTime,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.jungle.wemall.db.pojo.Category">
    insert into category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="shopId != null">
        shop_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="cover != null">
        cover,
      </if>
      <if test="describle != null">
        describle,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="shopId != null">
        #{shopId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="cover != null">
        #{cover,jdbcType=VARCHAR},
      </if>
      <if test="describle != null">
        #{describle,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jungle.wemall.db.pojo.Category">
    update category
    <set>
      <if test="shopId != null">
        shop_id = #{shopId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="cover != null">
        cover = #{cover,jdbcType=VARCHAR},
      </if>
      <if test="describle != null">
        describle = #{describle,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jungle.wemall.db.pojo.Category">
    update category
    set shop_id = #{shopId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      cover = #{cover,jdbcType=VARCHAR},
      describle = #{describle,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>